{% extends 'base.html' %}
{% load peliculas_tags %}

{% block title %}
	{% if category %}
		{{ category.name }}
	{% else %}
		Movies
	{% endif %}
{% endblock title %}

{% block content %}
<h1>Hola a todos</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-2">
				<h2 class="text-center">Catalogo</h2>
				<div class="list-group">
				  <a href="{% url 'catalogo:list-movies'%}" class="list-group-item {% if not category %} active {% endif %}">Todos</a>
				  {% for c in categories %}
				  	<a href="{{ c.get_absolute_url }}" class="list-group-item {% if category_slug == c.slug %} active {% endif %}">{{ c.name }}</a>
				  {% endfor %}
				</div>
			</div>
			<div class="col-sm-12 col-md-8 text-center">
				<div class="container-fluid">
					<div class="row"l>
						<h5>Hemos subido {% total_movies %} peliculas.</h5>
						<h3 class="text-center">
							{% if tag %}
								<h4>Peliculas etiquetadas con: "{{ tag.name }}"</h4>
							{% endif %}
							{% if category %}
								Peliculas de {{ category.name }}
							{% else %}
								Peliculas
							{% endif %}
						</h3>
						{% for movie in movies %}
							<div class="col-sm-12 col-md-4">
							<a href="{{ movie.get_absolute_url }}" class="thumnail">
								<p>
									<img src="{{ movie.image.url }}"class="img img-responsive">
								</p>
								<p>
									<h3>{{ movie.name }}</h3>
								</p>
								<p><small>
									Tags:
									{% for tag in movie.tags.all %}
										<a href="{% url 'catalogo:movie_by_tag' tag.slug%}">
											{{ tag.name }}
										</a>
										{% if not forloop.last %}
											,
										{% endif %}
									{% endfor %}
								</small></p>
							</a>
								<br>
								<br>
								<br>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="text-center">
					<h5>Ultimas peliculas publicadas...</h5>					
					{% show_movies 3 %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}	