{% extends 'base_dos.html'%}

{% block title %}
	Sube tu pelicula
{% endblock title %}

{% block links %}
	<style type="text/css">
		.login-form{
			text-align: center;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
{% endblock links %}

{% block content %}
	Sube tu pelicula
	<div class="login-form container">
		<form action="." method="post" enctype='multipart/form-data'>
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" name="" value="Subir">
		</form>
	</div>
{% endblock content %}